body {
	margin: 0;
	background-color: bisque;
	text-align: center;
}

.container {
	text-align: center;
	border-radius: 10px;
	border: 5px solid #b71232;
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	margin-top: -25px;
	margin-right: auto;
	margin-left: auto;
	min-width: 800px;
}

table {
	border-collapse: collapse;
	background: transparent;
	margin: 17px auto 50px;
}

td {
	text-align: center;
	border: 2px solid black;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

.error {
	color: red;
	font-size: 23px;
}

input {
	border: 2px solid black;
	font-size: 15px;
	padding: 0;
	text-align: center;
	color: #b12677;
	background-color: transparent;
}
